body{
    height: 100vh;
    background:linear-gradient(to top, rgb(49, 35, 35),rgb(175, 200, 200));
    background-repeat: no-repeat;
}
.project{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.header_1{
    color: white;
     height:5vh;
    width: 25vw;
    font-size: 4vw;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    border-radius: 5vw;
padding: 2vw;
}
.project_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
ul{
    height: 310px;
    width: 30vw;
   display: flex;
   flex-direction: column;
   justify-content: center;
   /* grid-template-columns:500px;
   grid-template-rows:50px;
   gap:10px; */
    background-color:rgb(35, 21, 88);
    box-shadow:-5px -5px 5px 5px,5px 5px 5px;
    border-radius: 50px;
     align-items: center;
     }
ul li{
     margin-top: 1vh;
    margin: 1vw;;
    list-style: none;
   font-size: 2vw;
   font-size: bold;
    color:white;
    font-weight: bold;
}
ul li a{
    font-size: 1.5vw;
    color:white;
    font-weight: bold;

}
@media (max-width:900px){
    ul{
   height: 310px;
    width: 30vw;
    }
}
@media (min-width:1024px){
    ul{
   height: 400px;
    width: 35vw;
    }
}