* {
  padding: 0;
  margin: 0;
}
body {
  display: grid;
  grid-template-rows: 1fr;
}
.header{
  grid-row-start: 1;
}
.nav{
  display: flex;
  justify-content: space-around;
   background: linear-gradient(to left, #444C54, black);
height: 50px;
width: 100%;
}
.nav li {
  list-style: none;
  padding:5px 1.5vw;
}
.nav li a{
  text-decoration: none;
  font-size: 5vmin;
  font-weight: bold;
  color: white;

}
main{
  /* background-color: blue; */
  height: 400px;
  grid-row-start: 2;
  /* display: grid;
  grid-template-rows:400px 1fr 1fr; */
}
.row_1{
  position: absolute;
  width: 100vw;
  height: 400px;
  background-image: url('Images/nine.jpg');
  background-size: cover;
  opacity: 0.9;
}
.India,.Tour{
  font-weight: bold;
  font-size: 10vmin;
}

@media (max-width:770px){
  #Menu {
  width: 35px;
  background-color: white;
  margin: 20px 0px 10px 10px;
  cursor: pointer;
  z-index: 100;
}
.bar {
  height: 10px;
  width: 100%;
  background-color: black;
  border-radius: 0.3vw;
  transition: 0.1s ease-in;
}
#bar1 {
  transform: translateY(-3px);
}
#bar3 {
  transform: translateY(3px);
}
.nav {
  margin: 0;
  transition: 1s ease;
  display: none;
 
}
.nav li {
  margin-left: 3vw;
  padding: 10px;
}
.nav li a:hover {
  border: 0.5vw solid white;
  border-radius: 2vw;
  padding: 10px 20px;
}

.icon #bar1 {
  transform: translateY(10.01px) rotate(-45deg);
}
.icon #bar3 {
  transform: translateY(-11px) rotate(45deg);
}
.icon #bar2 {
  opacity: 0;
}
.change {
  position: absolute;
  height: 100vh;
  background-color: rgb(255, 0, 119);
  z-index: -100;
  top: 0;
 margin: 0;
  width: 30vmax;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}