* {
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(72, 163, 133);
}
#Menu {
  width: 35px;
  background-color: white;
  margin: 20px 0px 10px 10px;
  cursor: pointer;
  z-index: 100;
}
.bar {
  height: 10px;
  width: 100%;
  background-color: black;
  border-radius: 0.3vw;
  transition: 0.1s ease-in;
}
#bar1 {
  transform: translateY(-3px);
}
#bar3 {
  transform: translateY(3px);
}
.nav {
  margin: 0;
  transition: 1s ease;
  display: none;
 
}
.nav li a {
  text-decoration: none;
}
.nav li {
  list-style: none;
  margin-left: 3vw;
  padding: 10px;
}
.nav li a:hover {
  border: 0.5vw solid white;
  border-radius: 2vw;
  padding: 10px 20px;
}

@media (max-width:770px){
.icon #bar1 {
  transform: translateY(10.01px) rotate(-45deg);
}
.icon #bar3 {
  transform: translateY(-11px) rotate(45deg);
}
.icon #bar2 {
  opacity: 0;
}
.change {
  position: absolute;
  height: 100vh;
  background-color: rgb(255, 0, 119);
  z-index: -100;
  top: 0;
 margin: 0;
  width: 30vmax;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

}