*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    background:linear-gradient(-150deg,rgb(120, 44, 118),#1e103b);
}
header{
    height:8vw ;
    background:linear-gradient(rgb(120, 44, 118),#1e103b);
    box-shadow: 1px 3px 10px 5px rgb(73, 15, 73);
}

nav ul{
    display: flex;
    flex-direction: row;
    gap: 13vw;
    margin-right: 0;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-weight: bold;
    font-size: 5vw;
  
}
#information{
    /* background-color: rgb(169, 131, 131); */
    height: 200;
    display: flex;
    gap: 8vw;
}

#profile_image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: top center; 
}